@import "./src/assets/scss/variables";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1046;
  height: $headerHeight;
  background: $midnight-blue;
}
